<div class="jumbotron text-center">
    <h1>Ethereum</h1>

    <div class="loading" ng-show="loading">
        <img src="http://i.imgur.com/T3Ht7S3.gif">
    </div>
    <div ng-class="data.css" ng-hide="loading">
        <div class="panel-heading">
            <h3 class="panel-title">{{data.title}} to Eth network</h3>
        </div>
        <div class="panel-body row">
            <div class="col-md-1">Nodes:</div><div class="col-md-11">

        </div><div class="col-md-11">&nbsp;{{data.nodes}}
            </div>
             <div class="col-md-1">Peers:
        </div><div class="col-md-11">&nbsp;{{data.peers}}
            </div>
            <div class="col-md-1 no-padding-right">Block: </div><div class="col-md-11">&nbsp;{{data.blockNumber}}</div>
            <div class="col-md-1 no-padding-right">host (rpc): </div><div class="col-md-11">&nbsp;{{data.host}}</div>
        </div>
    </div>
</div>