<table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Contract Name</th>
            <th>Contract Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in records" ng-class="x.css" data-href="#/explorer/{{x.name}}">
            <td>{{$index +1}}</td>
            <td><a href="#/explorer/{{x.name}}">{{x.name}}</a></td>
            <td>{{x.status}}</td>
        </tr>
        </tbody>
    </table>



<a  class="btn btn-info" ng-click="refreshContracts()">Refresh</a>
