<div class="jumbotron text-left">
    <h1>Demreum</h1>

    <p>Demreum, Smart contract engine for Ethereum</p>
    <p><a href="#addContract" class="btn btn-primary btn-info">Getting started</a></p>
</div>