<div class="jumbotron text-center">
    <h1>{{data.name}}</h1>

    <!--<div class="btn-group">-->
    <!--<a  class="btn btn-primary" ng-click="registerEvent(0)">Register</a>-->
    <!--<a  class="btn btn-primary dropdown-toggle"  data-toggle="dropdown"><span class="caret"></span></a>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li><a ng-click="registerEvent(1)">Buy Side</a></li>-->
    <!--<li><a ng-click="registerEvent(2)">Sell Side</a></li>-->
    <!--<li><a ng-click="registerEvent(0)">All</a></li>-->
    <!--</ul>-->
    <!--</div>-->


</div>

<table class="table table-striped table-hover ">

    <thead>
    <tr>
        <th>Name</th>
        <th>Security</th>
        <th>Currency</th>
        <th>Volume</th>
        <th>Last Published Trade</th>
        <th>Last Price</th>
        <th>52Wk Low</th>
        <th>52Wk High</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{data.name}}</td>
        <td>{{data.sec}}</td>
        <td>{{data.ccy}}</td>
        <td>{{data.vol.toLocaleString()}}</td>
        <td>{{data.last}}</td>
        <td>{{data.lastPrice}}</td>
        <td>{{data.low}}</td>
        <td>{{data.high}}</td>
    </tr>
    </tbody>
</table>
<div class="panel-body row">
    <div class="list-group col-md-3">
        <h3>Key Info</h3>
        <a class="list-group-item active">
            <h4 class="list-group-item-heading">ISIN</h4>
            <p class="list-group-item-text">{{data.isin}}</p>
        </a>
        <a class="list-group-item">
            <h4 class="list-group-item-heading">Symbol</h4>
            <p class="list-group-item-text">{{data.symbol}}</p>
        </a>
        <a class="list-group-item active">
            <h4 class="list-group-item-heading">MiFID Status</h4>
            <p class="list-group-item-text">{{data.mifid}}</p>
        </a>
    </div>
    <div class="col-md-9">
        <h3>Share Holders - Total {{data.totalShares.toLocaleString()}} Shares({{data.symbol}}) </h3>
        <table class="table table-striped table-hover col-md-5">
            <thead>
            <tr>

                <th>#</th>
                <th>Share Holder</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="b in balances | limitTo:5">
                <td><strong>{{$index +1}}</strong></td>
                <td><strong>{{b.name}}</strong></td>
                <td><strong>{{b.balance.toLocaleString()}}</strong></td>
            </tr>
            </tbody>

        </table>
    </div>


</div>


<div class="panel-body row">
    <h3>Last Trades</h3>
    <table class="table table-striped table-hover ">

        <thead>
        <tr>
            <th>Trading Party</th>
            <th>Counter Party</th>
            <th>Trade Time</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trade in data.trades | limitTo:6">
            <td>{{trade.fromName}}</td>
            <td>{{trade.toName}}</td>
            <td>{{trade.time}}</td>
            <td>{{trade.amount.toLocaleString()}}</td>
            <td>{{data.ccy}}</td>
            <td>{{trade.price}}</td>
        </tr>
        </tbody>
    </table>
</div>


<a href="#/isdx/trades/{{data.id}}"><strong>Show more..</strong></a>
