<table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Name</th>
            <th>Security</th>
            <th>Currency</th>
            <th>Volume</th>
            <th>Last Published Trade</th>
            <th>52Wk Low</th>
            <th>52Wk High</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in records"  >
            <td><a href="#/isdx/company/{{x.id}}">{{x.name}}</a></td>
            <td>{{x.sec}}</td>
            <td>{{x.ccy}}</td>
            <td>{{x.vol.toLocaleString()}}</td>
            <td>{{x.last}}</td>
            <td>{{x.low}}</td>
            <td>{{x.high}}</td>
        </tr>
        </tbody>
    </table>
<div  class="container">


    <modal title="Company form" visible="showModal">
        <!--<form role="form" METHOD="post" action="/rpc/contract/execute/ISDX/registerCompany">-->
            <div class="form-group">
                <label for="_name">Company Name</label>
                <input type="text" class="form-control" id="_name" ng-model="formData._name" placeholder="Company name" />
            </div>
            <div class="form-group">
                <label for="_isin">ISIN</label>
                <input type="text" class="form-control" ng-model="formData._isin" id="_isin" placeholder="ISIN" />
            </div>
            <div class="form-group">
                <label for="_symbol">Symbol</label>
                <input type="text" class="form-control" id="_symbol" ng-model="formData._symbol" placeholder="symbol" />
            </div>
            <div class="form-group">
                <label for="_mifid">MIFID Status</label>
                <input type="text" class="form-control" id="_mifid" ng-model="formData._mifid" placeholder="MIFID Status" />
            </div>
            <div class="form-group">
                <label for="_ccy">Currency</label>
                <input type="text" class="form-control" id="_ccy" ng-model="formData._ccy" placeholder="USD" />
            </div>
            <div class="form-group">
                <label for="_shares">Shares</label>
                <input type="number" class="form-control" id="_shares" ng-model="formData.shares" placeholder="100000" />
            </div>
            <div class="form-group">
                <label for="_holder">Holder</label>
                <select   class="form-control" id="_holder" ng-model="formData.holder"  >
                    <option ng-repeat="(key,val) in holders" value="{{key}}">{{val}}</option>
                </select>
            </div>
            <button  ng-click="submitComp()" ng-disabled="sendingData"   class="btn btn-default">Submit</button>
        <!--</form>-->
    </modal>
</div>

<a  class="btn btn-info" ng-click="refreshComp()">Refresh</a>
<a  class="btn btn-success" ng-click="toggleModal()">Add Company</a>