<div class="jumbotron text-center">
    <h1>{{data.name}}</h1>

    <!--<div class="btn-group">-->
    <!--<a  class="btn btn-primary" ng-click="registerEvent(0)">Register</a>-->
    <!--<a  class="btn btn-primary dropdown-toggle"  data-toggle="dropdown"><span class="caret"></span></a>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li><a ng-click="registerEvent(1)">Buy Side</a></li>-->
    <!--<li><a ng-click="registerEvent(2)">Sell Side</a></li>-->
    <!--<li><a ng-click="registerEvent(0)">All</a></li>-->
    <!--</ul>-->
    <!--</div>-->


</div>
<div >
    <h3>{{data.name}} Balances</h3>
    <table class="table table-striped table-hover col-md-5">
        <thead>
        <tr>
            <th>#</th>
            <th>Share Name</th>
            <th>Amount</th>
            <th>Last Price</th>
            <th>Estimated Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="b in data.balances">
            <td><strong>{{$index +1}}</strong></td>
            <td><strong><a href="#/isdx/company/{{b.id}}">{{b.name}}</a></strong></td>
            <td><strong>{{b.amount.toLocaleString()}}</strong></td>
            <td><strong>{{b.lastPrice}}</strong></td>
            <td><strong>~{{b.est.toLocaleString()}} ({{b.ccy.ccy}})</strong></td>
        </tr>
        </tbody>

    </table>
</div>

