<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>BlockChain ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in records "  >
        <td><a href="#/isdx/holder/{{x.id}}">{{x.id}}</a></td>
        <td><a href="#/isdx/holder/{{x.id}}">{{x.name}}</a></td>
    </tr>
    </tbody>
</table>

<div  class="container">


    <modal title="Share holder form" visible="showModal">
        <!--<form role="form" METHOD="post" action="/rpc/contract/execute/ISDX/addShareHolder">-->
            <div class="form-group">
                <label for="_name">Holder Name</label>
                <input type="text" class="form-control" id="_name" ng-model="formData._name"  placeholder="Or Demri LTD" required/>
            </div>
            <button ng-click="submitHolder()" ng-disabled="sendingData"  class="btn btn-default">Submit</button>
        <!--</form>-->
    </modal>
</div>

<a  class="btn btn-info" ng-click="refreshHolders()">Refresh</a>
<a  class="btn btn-success" ng-click="toggleModal()">Add Share Holder</a>