<div class="jumbotron text-left">
    <h1>ISDX & Infinity demo</h1>

    <p>ISDX & Infinity - Smart contracts demo</p>
    <p><a href="#isdx/companies" class="btn btn-primary btn-info">Companies</a></p>
</div>