<div class="jumbotron text-left">

    <div class="alert alert-dismissible alert-danger" ng-show="error">
        <button type="button" class="close" ng-click="errorCanceled()"  data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> Compile error.contract not compiling.{{errorMessage}}.
    </div>

    <div class="alert alert-dismissible alert-success" ng-show="compiled">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> Contract <strong>{{name}}</strong> compiled,now you can deploy your shit.
    </div>

    <div class="alert alert-dismissible alert-danger" ng-show="deployError">
        <button type="button" class="close" ng-click="errorCanceled()"  data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> can't deploy the contract.
    </div>

    <div class="alert alert-dismissible alert-success" ng-show="contractDeployed">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> Contract <strong>{{name}}</strong> deployed, check the contract <a href="#/explorer" class="alert-link">Status</a>.
    </div>
    <h1>Add new contract</h1>

    <div class="panel-body row"><textarea style="width :90%; height: 300px;" ng-model="contractData"  placeholder="contract ABC {
    address sender;
    function ABC(){
        sender = tx.origin;
    }

    function get() returns(address){
        return sender;
    }
 }
    "></textarea></div>

    <a class="btn btn-success" ng-click="compileClick()">Compile</a>
    <a  class="btn btn-info" ng-click="deployClick()" ng-show="compiled">Deploy</a>




</div>