<h3>Trades</h3>
<table class="table table-striped table-hover ">

    <thead>
    <tr>
        <th>Trading Party</th>
        <th>Counter Party</th>
        <th>Share Name</th>
        <th>Trade Time</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Rate</th>
        <th>Blockchain Info</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="trade in records" ng-class="{'success': trade.id==relevantId}">
        <td>{{trade.fromName}}</td>
        <td>{{trade.toName}}</td>
        <td>{{trade.compName}}</td>
        <td>{{trade.time}}</td>
        <td>{{trade.amount.toLocaleString()}}</td>
        <td>{{trade.ccy}}</td>
        <td>{{trade.price}}</td>
        <td><a href="" ng-click="openTxModal(trade.tx)">Blockchain Data</a></td>
    </tr>
    </tbody>
</table>

<div  class="container">


    <modal title="Trade form" visible="showModal">
        <!--<form role="form" METHOD="post" action="/rpc/contract/execute/ISDX/registerCompany">-->
        <div class="form-group">
            <label for="_compId">Share Name</label>
            <select   class="form-control" id="_compId" ng-model="formData._compId"  required>
                <option ng-repeat="(key,val) in companies" value="{{key}}"><strong>{{val.name}} ({{val.symbol}})</strong></option>
            </select>
        </div>
        <div class="form-group">
            <label for="_from">From</label>
            <select   class="form-control" id="_from" ng-model="formData._from"  required>
                <option ng-repeat="(key,val) in holders" value="{{key}}"><strong>{{val}}</strong></option>
            </select>
        </div>
        <div class="form-group">
            <label for="_to">To</label>
            <select   class="form-control" id="_to" ng-model="formData._to" required >
                <option ng-repeat="(key,val) in holders" value="{{key}}"><strong>{{val}}</strong></option>
            </select>
        </div>
        <div class="form-group">
            <label for="_amount">Shares</label>
            <input type="number" class="form-control" id="_amount" ng-model="formData._amount" placeholder="70000" required/>
        </div>
        <div class="form-group">
            <label for="_price">Price</label>
            <input type="text" class="form-control" id="_price" ng-model="formData._price" placeholder="3.12" required />
        </div>
        <button  ng-click="submitTrade()" ng-disabled="sendingData"   class="btn btn-default">Submit</button>
        <!--</form>-->
    </modal>
</div>

<div  class="container">


    <modal title="Transaction Information" visible="txModal">
        <!--<form role="form" METHOD="post" action="/rpc/contract/execute/ISDX/addShareHolder">-->
        <div class="form-group">
            <label for="blockTx">Block Number</label>
            <input type="text" ng-disabled="true" class="form-control" id="blockNumber" ng-model="tx.blockNumber"/>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" ng-disabled="true" class="form-control" id="address" ng-model="tx.address"/>
        </div>
        <div class="form-group">
            <label for="blockTx">Block Hash</label>
            <input type="text" ng-disabled="true" class="form-control" id="blockTx" ng-model="tx.blockHash"/>
        </div>
        <div class="form-group">
            <label for="blockTx">Transaction Hash</label>
            <input type="text" ng-disabled="true" class="form-control" id="txHash" ng-model="tx.txHash"/>
        </div>
        <button ng-click="closeTx()" class="btn btn-default">Close</button>
        <!--</form>-->
    </modal>
</div>



<a  class="btn btn-info" ng-click="refreshTrades()">Refresh</a>
<a  class="btn btn-success" ng-click="toggleModal()">Add Trade</a>